*.bak
/BGinfo/obj/*
/BGinfo/bin/*
/BGinfo/.vs/*
/BGinfo/LockscreenBGinfo/obj/*
/BGinfo/LockscreenBGinfo/bin/*
/BGinfo/DesktopBGinfo/obj/*
/BGinfo/DesktopBGinfo/bin/*
/BGinfo/BGInfo/obj/*
/BGinfo/BGInfo/bin/*
Thumbs.db


